.comment {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 10px auto 10px auto;    
    width: 420px;    
    background: #e1f9fe;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 3px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    list-style-type: none;
  }

#comment_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 300px;
}

#comment_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; 
    width: 100%
}

#comment_content_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; 
    width: 100%;
    min-width: 400px;
    margin-left: 10px;
}

#comment_content_left {
    align-items: center;
    justify-content: center;
}

#comment_time {
    justify-content: space-between;
    align-items: flex-start; 
    
}

.comment img {
    width: 47px;
    height: 47px;
}

#author_name {
    font-weight: bolder;
}


#card_footer {
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

#msg_number {
    
    font-size: 10px;
}