#NavBarBg {
    margin: auto;  
    height: 91px;
    background-color: #4267b2;
    
  }
  
  #NavBarTop {
    margin: auto;
    max-width: 900px;
    align-items: center;
    background-color: #4267b2;
  }

  #subNavBar {
    background-color: #4267b2;
    color: white;
    text-decoration-color: white;
    font-weight: bold;
    
  }

  #logo_img {
      width: 60px;
      height: 60px;
  }

  #logo_txt {
    height: 40px;
}

