
#FooterBarBg {
    margin: auto;
    height: 40px;
  }
  
  #FooterBarItems {
    width: 800px;  
    color: white;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
  }
  
#footer_logo {
    width: 47px;
}

a {
  color:white;
}