#first_panel {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: auto;
margin-top: 100px;
}

#panel_left{
    max-width: 450px;
    padding: 30px;
    align-items: center;
    text-align: center;
}

#panel_right{
    max-width: 450px;
    padding: 30px;
    text-align: center;
    align-items: center;
}

#front_text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;

}

#subpanel_login {
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
    background-color: #f0f2f5;
    min-width: 300px;
    min-height: 200px;
    align-items: center;
    justify-content: center;
}

#borderline{
    padding: 15px;
    border-bottom: 1px solid
}

#signup{
    padding: 15px;
    justify-content: center;
    align-items: center;
}

#genderBar {
    text-align: left;
}

#login_btn {
    color: white;
}

#gender input{
    margin: 0px 5px 0px 15px;
    padding: 5px;
}